certifi==2025.7.9
choreographer==1.0.9
geopandas==1.1.1
kaleido==1.0.0
logistro==1.1.0
lxml==6.0.0
narwhals==1.46.0
numpy==2.3.1
orjson==3.10.18
packaging==25.0
pandas==2.3.1
plotly==6.2.0
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.0
shapely==2.1.1
simplejson==3.20.1
six==1.17.0
tzdata==2025.2
